* {
  font-family: 'Signika', sans-serif;
  box-sizing: border-box;
}

html, body, .App {
  margin: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}